@media (max-width: 550px) {
  #project-1 {
    margin: 5vh auto 0 auto;
  }
}

@media (max-width: 390px) {
  #project-1 {
    margin: 0 auto;
    padding: 0rem 2rem 3rem 2rem;
    max-height: 515px;
  }
}
